/*.place__title{
    margin: 0;
    width: calc(460/984*100%);
    min-width: 460px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
}

@media screen and (max-width: 1279.9px){
    .place__title{
        width: calc(440/928*100% - 10px);
        min-width: 430px;
    }
}

@media screen and (max-width: 1023.9px){
    .place__title{
        width: calc(340/720*100% - 10px);
        font-size: 42px;
        line-height: 46px;
        min-width: 330px;
    }
}

@media screen and (max-width: 767.9px){
    .place__title{
        padding-left: 5%;
        min-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
} */

.place__title{
    margin: 0;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
}

@media screen and (max-width: 1023.9px){
    .place__title{
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 767.9px){
    .place__title{
        padding-left: 5%;
        padding-right: 5%;
        font-size: 32px;
        line-height: 35px;
    }
}