.place__image{
    width: calc(460/984*100%);
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
}

@media screen and (max-width: 1279.9px){
    .place__image{
        width: calc(440/928*100% - 10px);
        min-width: 430px;
    }
}

@media screen and (max-width: 1023.9px){
    .place__image{
        width: calc(340/720*100% - 10px);
        max-width: none;
        min-width: 330px;
    }
}

@media screen and (max-width: 767.9px){
    .place__image{
        width: 100%;
        min-width: 320px;
    }
}