.header{
    width: 1184px;
    min-width: 288px;
    padding: 28px 0 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

@media screen and (max-width: 1279.9px){
    .header{
        width: 90.625%;
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 1023.9px){
    .header{
        width: 93.75%;
        padding: 28px 0 48px;
    }
}

@media screen and (max-width: 767.9px){
    .header{
        width: 90%;
        padding: 16px 0 48px;
    }
}