.place__paragraphs{
    width: calc(484/984*100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 26px;
}

@media screen and (max-width: 1279.9px){
    .place__paragraphs{
        width: calc(456/928*100%);
        min-width: 456px;
    }
}

@media screen and (max-width: 1023.9px){
    .place__paragraphs{
        width: calc(352/720*100%);
        min-width: 352px;
        gap: 25px;
    }
}

@media screen and (max-width: 767.9px){
    .place__paragraphs{
        min-width: 320px;
        width: 100%;
    }
}