.intro__text{
    margin: 0;
    padding: 40px 0 33px 0;
    line-height: 26.08px;
    max-width: 690px;
}

@media screen and (max-width: 1023.9px){
    .intro__text{
        width: 100%;
        max-width: 720px;
    }
}