.intro{
    max-width: 690px;
    padding: 92px 0;
    padding-left: 11.5625%;
}

@media screen and (max-width: 1279.9px){
    .intro{
        padding-left: 4.6875%;
    }
}

@media screen and (max-width: 1023.9px){
    .intro{
        max-width: 720px;
        padding: 88px 3.125%
    }
}

@media screen and (max-width: 767.9px){
    .intro{
        padding: 64px 5%;
    }
}