.place__link{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.place__link:hover{
    opacity: .8;
    cursor: pointer;
}