@import url('../Vendor/normalize.css');
@import url('../Vendor/fonts.css');

.page{
    display: flex;
    flex-direction: column;
    background-color: #2A2C2F;
    font-family:  'Inter', 'Arial', sans-serif;
    color: #FFFFFF;
}

.header{
    padding: 28px 48px 56px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header__links-holder{
    display: flex;
    gap: 16px;
    align-items: flex-end;
}

.header__lang-link{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 28px;
    font-size: 24px;
    transition: opacity .5s ease;
}

.header__lang-link_active{
    text-decoration: underline;
}

.header__lang-link:hover{
    opacity: .8;
}

.lead{
    width: 76.875%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 35px;
}

.lead__title{
    margin: 0;
    padding: 0 132px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

.lead__subtitle{
    margin: 0;
    padding: 0 172px;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

.lead__image{
    width: 100%;
}

.lead__caption{
    margin: 0;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: center;
}

.intro{
    max-width: 690px;
    padding: 92px 0;
    padding-left: 11.5625%;
}

.intro__title{
    margin: 0; 
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__text{
    margin: 0;
    padding: 40px 0 33px 0;
    line-height: 26.08px;
}

.intro__list{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
}

.photo-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0 48px;
    gap: 16px;
}

.photo-grid__item{
    width: 100%;
}

/*.photo-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 3rem;
    gap: 1rem;
    justify-content: space-between;
} */

.places{
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 80px;
    width: 76.875%;
    padding-top: 92px;
    padding-bottom: 92px;
}

.place{
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 40px;
}

.place__paragraphs{
    width: calc(100% - 46.75% - 40px);
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.place__title{
    margin: 0;
    width: 46.75%;
    min-width: 460px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
}

.place__url-heading{
    color: #AAAAAA;
    margin: 0;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
}

.place__website{
    width: calc(100% - 46.75% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
}

.place__link{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: opacity .5s ease;
}

.place__link:hover{
    opacity: .8;
    cursor: pointer;
}

.place__image{
    width: 46.75%;
    min-width: 460px;
    object-fit: contain;
    object-position: top;
}

.place__paragraph{
    font-size: 18px;
    line-height: 29.34px;
    margin: 0;
}

.cover{
    position: relative;
    align-self: center;
    width: 92.5%;
    height: calc(740/1184*100vw*0.925);
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.cover__background{
    z-index: 1;
    position: absolute;
    width: 100%;
}

.cover__overlay{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    opacity: .3;
    transition: opacity .5s ease;
}

.cover:hover .cover__overlay{
    opacity: .8;
    cursor: pointer;
}

.cover__title{
    z-index: 3;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    text-align: center;
}

.cover__subtitle{
    z-index: 3;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    max-width: 360px;
    text-align: center;
}

.footer{
    padding: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
}

.footer__links-holder{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.footer__link{
    font-size: 16px;
    line-height: 18px;
    transition: opacity .5s ease;
    text-decoration: none;
    color:#FFFFFF
}

.footer__link:hover{
    opacity: .8;
    cursor: pointer;
}

.footer__copyright{
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 1279.9px){
    .header{
        padding-bottom: 48px;
    }

    .lead{
        width: 90.625%;
        gap: 0;
    }

    .lead__subtitle{
        padding-top: 32px;
        padding-bottom: 56px;
    }

    .lead__caption{
        padding-top: 8px;
        align-self: flex-start;
    }

    .intro{
        padding-left: 4.6875%;
    }

    .photo-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }

    .places{
        width: 90.625%;
    }

    .place{
        column-gap: 32px;
    }

    .place__image{
        min-width: 440px;
    }

    .place__title{
        min-width: 440px;
    }

    .place__paragraphs{
        min-width: 456px;
    }

    .cover{
        width: 100%;
        height: calc(740/1184*100vw);
    }

}

@media screen and (max-width: 1023.9px){
    .header{
        padding: 28px 24px 48px;
    }

    .lead{
        width: 100%;
    }

    .lead__title{
        padding: 0 24px;
    }

    .lead__subtitle{
        padding: 32px 64px 56px;
    }

    .lead__caption{
        padding-left: 3.125%;
    }

    .intro{
        max-width: 720px;
        padding: 88px 3.125%
    }

    .photo-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding: 0 24px;
    }

    .places{
        padding: 88px 0 90px;
        gap: 73px;
        width: 93.75%;
    }

    .place{
        column-gap: 28px;
    }

    .place__image{
        min-width: 340px;
    }

    .place__title{
        font-size: 42px;
        line-height: 46px;
        min-width: 340px;
    }

    .place__paragraphs{
        min-width: 352px;
        gap: 25px;
    }

    .place__paragraph{
        font-size: 16px;
    }

    .footer{
        padding: 88px 24px 24px;
    }
}

@media screen and (max-width: 767.9px){
    .header{
        height: 42px;
        padding: 16px 16px 48px;
    }

    .header__logo{
        width: 142px;
    }

    .header__lang-link{
        font-size: 18px;
        line-height: 20px;
    }

    .lead__title{
        font-size: 40px;
        line-height: 1.1;
        padding: 0 16px;
    }

    .lead__subtitle{
        font-size: 16px;
        line-height: 1.25;
        padding: 16px 16px 40px;
    }

    .lead__caption{
        padding-top: 8px;
        padding-left: 5%;
    }

    .intro{
        padding: 64px 5%;
    }

    .intro__title{
        font-size: 32px;
        line-height: 35px;
    }

    .photo-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        padding: 0 16px;
        gap: 12px;
    }

    .places{
        padding: 64px 0 66px;
        width: 100%;
        gap: 50px;
    }

    .place{
        flex-direction: column;
        gap: 32px;
    }

    .place__title{
        padding-left: 5%;
        min-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }

    .place__website{
        padding-left: 5%;
        min-width: 288px;
    }

    .place__image{
        width: 100%;
        min-width: 320px;
    }

    .place__paragraphs{
        min-width: auto;
        width: 100%;
    }

    .place__paragraph{
        padding: 0 5%;
    }

    .cover__title{
        font-size: 32px;
        line-height: 35px;
    }

    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
    }

    .footer{
        padding-top: 64px;
        padding-left: 5%;
        padding-bottom: 24px;
        gap: 48px;
        flex-direction: column;
    }

    .footer__links-holder{
        flex-direction: column;
        gap: 32px;
    }

    .footer__link{
        font-size: 24px;
        line-height: 1;
    }

    .footer__copyright{
        line-height: 1;
    }


}

