.place__website{
    width: calc(100% - 46.75% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
}

@media screen and (max-width: 767.9px){
    .place__website{
        padding-left: 5%;
        min-width: 288px;
    }
}